.main {
    background-color: rgb(155, 144, 144);
    height: 100vh;
}

.flag-container {
    height: 150px;
    width: 270px;
    background-color: green;
    position: relative;
    left: 50%;
    top: 30%;

    transform: translate(-50%, -50%);

}

.flag-cirle {
    height: 50px;
    width: 80px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.stand {
    height: 320px;
    width: 20px;
    background-color: black;


}

.stand-g {
    height: 30px;
    width: 70px;
    background-color: rgb(88, 64, 64);
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid salmon;


}

.stand-g2 {
    height: 30px;
    width: 100px;
    background-color: rgb(88, 64, 64);
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid salmon;

}

.stand-g3 {
    height: 30px;
    width: 140px;
    background-color: rgb(88, 64, 64);
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid salmon;

}

.stand-t {
    height: 15px;
    width: 20px;
    background-color: rgba(255, 42, 4, 0.877);
    position: relative;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid salmon;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;


}

#art {
    position: relative;
    top: 50%;
    left: 50%;
}